* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #e6e6e6;
}

#area-cabecalho {
    background: rgb(221, 139, 31);
    padding: 15px;
    text-align: center;
}

#area-logo, #area-menu {
    padding: 10px;
}

#area-principal {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#area-postagens {
    width: 660px;
    float: left;
}

#area-lateral {
    width: 240px;
    float: right;
}

.postagens {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

.conteudo-lateral {
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}

.postagem-lateral {
    font-size: 0.8em;
    padding: 5px;
    *border-bottom: 1px dotted #CCC;

}

#rodape {
    clear: both;
    color: white;
    background: rgb(221, 139, 31);
    text-align: center;
    padding: 15px;
}

a {
    text-decoration: none;
}

a:link, a:visited{
    color: rgb(221, 139, 31);
    padding: 8px 12px;
}

a:hover {
    text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited{
    color: white;
    padding: 8px 12px;
}

#area-cabecalho a:hover {
    color: rgb(221, 139, 31);
    background: white;
    text-decoration: none;
}

h1 {
    color: rgb(87, 85, 85);
}

h2 {
    color: rgb(221, 139, 31);
}

h3 {
    color: #565656;
    background: rgb(221, 139, 31);
    padding: 5px;
}

.white {
    color: white;
}

.data-postagem {
    font-size: 0.8em;
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

